/* ids */
#white-line {
  width: 100%;
  border-top: 1px solid rgb(255, 255, 255);
}

#green-line {
  width: 100%;
  border-top: 1px solid rgb(72, 255, 0);
  padding: 15px 0;
  margin-top: 100px;
}

#footer-text {
  display: flex;
  align-items: flex-end;
}

#bitcoin-pic {
  width: 200px;
  height: 200px;
}

#litecoin-pic {
  max-width: 200px;
  max-height: 200px;
}

#zcash-pic {
  max-width: 200px;
  max-height: 200px;
}

/* classes */
.img-sm {
  max-width: 125px;
  max-height: 125px;
}

.img-navbar {
  max-width: 50px;
  max-height: 50px;
}

.img-rounded {
  border-radius: 50%;
}

.btn-drop {
  position: absolute;
  bottom: -0.5em;
  right: 25%;
  border: 10px;
}

.bg-black {
  background-color: black;
}

.bg-darkblue {
  background-color: #003957;
}

.green-text {
  color: rgb(53, 189, 0);
}

.green-border {
  border-color: rgb(53, 189, 0);
}

.light-blue-text {
  color: #92bbd1;
}
